/* Remove v4 imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme Variables (v3 compatible) */

@font-face {
  font-family: "Posterama1984";
  src: url("../public/fonts/Posterama\ 1984\ W01\ Thin.woff2") format("woff2");
  font-weight: 7000;
  font-style: normal;
}

/* @font-face {
  font-family: "Posterama1984";
  src: url("../public/fonts/Posterama\ 1984\ W01\ Thin.woff2") format("woff2");
  font-weight: 70;
  font-style: normal;
}

@font-face {
  font-family: "Posterama1984";
  src: url("../public/fonts/Posterama\ 1984\ W01\ Thin.woff2") format("woff2");
  font-weight: 70;
  font-style: normal;
} */

@font-face {
  font-family: "Posterama1988";
  src: url("../public/fonts/Posterama\ 1984\ W04\ Black.woff2") format("woff2");
  font-weight: 7000;
  font-style: normal;
}

/* 
@font-face {
  font-family: "Posterama1988";
  src: url("../public/fonts/Posterama\ 1984\ W04\ Black.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Posterama1988";
  src: url("../public/fonts/Posterama\ 1984\ W04\ Black.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Posterama1988";
  src: url("../public/fonts/Posterama\ 1984\ W04\ Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
} */






:root {
  --background: #ffffff;
  --foreground: #111111;

  --card: #ffffff;
  --card-foreground: #111111;

  --popover: #ffffff;
  --popover-foreground: #111111;

  --primary: #333333;
  --primary-foreground: #fafafa;

  --secondary: #f2f2f2;
  --secondary-foreground: #333333;

  --muted: #f2f2f2;
  --muted-foreground: #777777;

  --accent: #f2f2f2;
  --accent-foreground: #333333;

  --destructive: #d9534f;
  --destructive-foreground: #ffffff;

  --border: #e5e5e5;
  --input: #e5e5e5;
  --ring: #cccccc;

  --radius: 0.625rem;
}

/* DARK MODE VARIABLES */
.dark {
  --background: #111111;
  --foreground: #ffffff;

  --card: #111111;
  --card-foreground: #ffffff;

  --popover: #111111;
  --popover-foreground: #ffffff;

  --primary: #ffffff;
  --primary-foreground: #333333;

  --secondary: #333333;
  --secondary-foreground: #ffffff;

  --muted: #333333;
  --muted-foreground: #bbbbbb;

  --accent: #333333;
  --accent-foreground: #ffffff;

  --destructive: #c9302c;
  --destructive-foreground: #ffffff;

  --border: #333333;
  --input: #333333;
  --ring: #555555;
}

/* Apply Variables */
@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
